body{
  background-image: url("img/bg-photo.jpg");
  background-size: 1920px 1080px;
}

.calc-wrapper {
  width: 430px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 15px;
  padding-bottom: 0;
  border: 8px solid #696969;
  overflow: hidden;
  opacity: 0.9;
}

.display {
  padding: 10px 20px;
  border-radius: 25px;
  height: 100px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 70px;
  line-height: 100px;
  color: white;
 
}

.btn {
  outline: 0;
  cursor: pointer;
  border-radius: 100px;
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  margin-bottom: 10px;
  opacity: 0.9;
  background-color: #696969;
  color: white;
  border-color: #696969;
}

.btn-group-left {
  float: left;
  width: 330px;
}

.btn-group-left .btn {
  margin-left: 10px;
}

.btn-group-left .btn:nth-child(3n+1) {
  margin-left: 0;
}

.btn-group-right {
  float: left;
  width: 100px;
}

.btn.result {
  width: 100%;
}